<ion-view view-title="景点介绍">
    <ion-nav-title>
        <ion-header-bar class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="请输入地名或景点名" ng-model="searchContent">
            </label>
            <button class="button button-clear">
                确认
            </button>
        </ion-header-bar>
    </ion-nav-title>        <div class="scroll-content has-header ">
            <div class="row">
                <div class="col">
                    <div class="star">
                        <img src="images/taiguo.jpg">
                        <p class="area">泰国</p>
                    </div>
                </div>
                <div class="col ">
                    <div class="star">
                        <img src="images/riben.jpg">
                        <p class="area">日本</p>
                    </div>
                </div>
                <div class="col ">
                    <div class="star">
                        <img src="images/malaixiya.jpg">
                        <p class="area">马来西亚</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="star">
                        <img src="images/hanguo.jpg">
                        <p class="area">韩国</p>
                    </div>
                </div>
                <div class="col ">
                    <div class="star">
                        <img src="images/niboer.jpg">
                        <p class="area">尼泊尔</p>
                    </div>
                </div>
                <div class="col ">
                    <div class="star">
                        <img src="images/yindunixiya.jpg">
                        <p class="area">印度尼西亚</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="star">
                        <img src="images/taiwan.jpg">
                        <p class="area">台湾</p>
                    </div>
                </div>
                <div class="col ">
                    <div class="star">
                        <img src="images/feilvbin.jpg">
                        <p class="area">菲律宾</p>
                    </div>
                </div>
                <div class="col ">
                    <div class="star">
                        <img src="images/jianpuzhai.jpg">
                        <p class="area">柬埔寨</p>
                    </div>
                </div>
            </div>

        </div>
</ion-view>