<!--hide-nav-bar="true"-->
<ion-view id="first-view" hide-nav-bar="true" >
    <!--<ion-content>-->

    <ion-slide-box on-slide-changed="onSlideChanged()" >
        <ion-slide>
            <img src="images/first01.jpg">
            <p class="p1">&nbsp;想走就走，用心去旅行&nbsp;<div class="sanjiao"></div></p>
        </ion-slide>
        <ion-slide>
            <img src="images/first02.jpg">
            <p class="p1">&nbsp;清凉一夏，全家总动员&nbsp;
            <div class="sanjiao"></div>
            </p>
        </ion-slide>
        <ion-slide>
            <img src="images/first03.jpg">
            <p class="p1">&nbsp;放假了,我们一起去旅行吧&nbsp;<div class="sanjiao"></div></p>
            <div class="enter" ng-if="config.enter" ui-sref="tabs.road">点击进入</div>
        </ion-slide>
    </ion-slide-box>
    <!--</ion-content>-->
</ion-view>